{% extends 'myapp/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block title2 %}
    Login
{% endblock %}

{% block content %}

    <div class="col-md-4" style="float: left">
        <h1>Login</h1>
        <form action="/login" method="POST" class="post-form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Войти"/>
        </form>
        {#        <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}"#}
        {#           onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);">#}
        {#            <span class="fa fa-google"></span> Sign in with Google#}
        {#        </a>#}
        {#        <a class="g-signin2" href="{% url 'social:begin' 'google-oauth2' %}">#}
        {#            Login whith Google +#}
        {#        </a>#}
        <button class="loginBtn loginBtn--google">
                            <a style="color: #ffffff" href="{% url 'social:begin' 'google-oauth2' %}">
                    Login whith Google +
                </a>
        </button>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
            Login
        </a>
        {#    <div class="btn-google" data-onsuccess="onSignIn"></div>#}

    </div>
{% endblock %}
