{% extends 'myapp/base.html' %}
{% block title %}
    README
{% endblock %}
{% block content %}
    <div style="margin: 10px">
        <h1>Django-app: Running-diary</h1>
        Django-application for running statistics.

        <h2>Site structure</h2>
        <h4>For unauthorized user:</h4>
        <ul>
            <li>ReadMe</li>
            Data on the installation and use of the application
            <li>Login</li>
            Authorization to enter the site
            <li>Sinup</li>
            Registration on the site
        </ul>

        <h4>For authorized user:</h4>
        <ul>
            <li>ReadMe</li>
            Data on the installation and use of the application
            <li>Add data</li>
            Form for adding new data.
            <li>Accepted data</li>
            <ul>
                <li>1. Date and time.</li>
                <li>2. Distance (in meters).</li>
                <li>3. Duration (in minutes).</li>
            </ul>
            <li>Data list</li>
            A list of all activities. The speed according to the results of the recording is also indicated.
            Separately, the average speed for all records.
            There is a filter records by date.
            <li>Statistic</li>
            Statistics of all records grouped by week for last year - week number,
            total amount of entries, total distance, total duration and weekly average speed.
            <li>Logout</li>
            Stop logging in as a registered user.
        </ul>

        <h2>Technologies and Libraries</h2>

        <ul>
            <li>Python3.7</li>
            <li>Django==2.2.2</li>
            <li>django-tables2==2.0.6</li>
            <li>HTML/CSS</li>
            <li>SQLite3</li>
        </ul>

        <h2>Prerequisites</h2>

        Needed to be installed Python3. If not installed, download the link <a href="https://www.python.org/"
                                                                               target="_blank">https://www.python.org/</a>
        and install.

        <h2>Deployment</h2>

        <h4>Run command:</h4>

        <code>pip3 install -r requirements.txt</code>

        <h4>Database Setup</h4>

        <code>python manage.py migrate</code>

        <h4>Start app</h4>

        <code>python manage.py runserver</code>
    </div>
{% endblock %}