{% extends 'myapp/base.html' %}
{% block title %}
    README
{% endblock %}
{% block content %}
    <div style="margin: 10px">
        <h1>Django-app: Running-diary</h1>
        <p>Django-application for running statistics.</p>

        <h2>Site structure</h2>
        <h4>For unauthorized user:</h4>
        <ul>
            <li>ReadMe</li>
            <p>Data on the installation and use of the application</p>
            <li>Login</li>
            <p>Authorization to enter the site</p>
            <li>Sinup</li>
            <p>Registration on the site</p>
        </ul>

        <h4>For authorized user:</h4>
        <ul>
            <li>ReadMe</li>
            <p>Data on the installation and use of the application</p>
            <li>Add data</li>
            <p>Form for adding new data.</p>
            <li>Accepted data</li>
            <ul>
                <li>1. Date and time.</li>
                <li>2. Distance (in meters).</li>
                <li>3. Duration (in minutes).</li>
            </ul>
            <li>Data list</li>
            <p>A list of all activities. The speed according to the results of the recording is also indicated.
            Separately, the average speed for all records.
                There is a filter records by date.</p>
            <li>Statistic</li>
            <p>Statistics of all records grouped by week for last year - week number,
                total amount of entries, total distance, total duration and weekly average speed.</p>
            <li>Logout</li>
            <p>Stop logging in as a registered user.</p>
        </ul>

        <h2>Technologies and Libraries</h2>

        <ul>
            <li>Python3.7</li>
            <li>Django==2.2.2</li>
            <li>django-tables2==2.0.6</li>
            <li>HTML/CSS</li>
            <li>SQLite3</li>
        </ul>

        <h2>Prerequisites</h2>

        <p>Needed to be installed Python3. If not installed, download the link <a href="https://www.python.org/"
                                                                               target="_blank">https://www.python.org/</a>
            and install.</p>

        <h2>Deployment</h2>

        <h4>Run command:</h4>

        <code>pip3 install -r requirements.txt</code>

        <h4>Database Setup</h4>
        <p>If you are deploying a project on the server, specify the settings for connecting to the database in the file
            myapp.settings in the DATABASES dictionary.</p>
        <code>python manage.py migrate</code>

        <h4>Start app</h4>

        <code>python manage.py runserver</code>
    </div>
{% endblock %}